<div id="<%= dom_id treatment %>">
  <p>
    <strong>Name:</strong>
    <%= treatment.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= treatment.description %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= treatment.place %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= treatment.price %>
  </p>

  <p>
    <strong>Downpayment:</strong>
    <%= treatment.downpayment %>
  </p>

  <p>
    <strong>Professional:</strong>
    <%= treatment.professional_id %>
  </p>

  <p>
    <strong>Duration min:</strong>
    <%= treatment.duration_min %>
  </p>

  <p>
    <strong>Treatment type:</strong>
    <%= treatment.treatment_type_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= treatment.room %>
  </p>

</div>
