<%= form_with(model: treatment) do |form| %>
  <%= render 'layouts/notify_form_error', model: :treatment, errors: treatment.errors %>
  <div class="row treatment-form">
    <div class="col-lg-6">
      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name, class: 'form-control', required: true %>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <%= form.label :price, style: "display: block" %>
          <%= form.number_field :price, class: 'form-control', required: true %>
        </div>

        <div class="col-lg-4">
          <%= form.label :downpayment, style: "display: block" %>
          <%= form.number_field :downpayment, class: 'form-control' %>
        </div>

        <div class="col-lg-4">
          <%= form.label :duration_min, style: "display: block" %>
          <%= form.number_field :duration_min, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <%= form.label :professional_id, style: "display: block" %>
          <%= association_select(form, :professional_id, Professional.all, required: true) %>
        </div>

        <div class="col-lg-6">
          <%= form.label :treatment_type_id, style: "display: block" %>
          <%= association_select(form, :treatment_type_id, TreatmentType.all, required: true) %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <%= form.label :place, style: "display: block" %>
          <%= form.text_field :place, class: 'form-control' %>
        </div>

        <div class="col-lg-4">
          <%= form.label :room, style: "display: block" %>
          <%= form.text_field :room, class: 'form-control' %>
        </div>
      </div>

      <div>
        <%= form.submit 'Aceptar', class: 'btn btn-fill btn-success animation-on-hover mr-2' %>
        <%= link_to 'Volver', treatments_url, class: 'btn btn-simple text-white' %>
      </div>
    </div>
    <div class="col-lg-6">
      <div>
        <%= form.label :pictures, style: "display: block" %>
        <div class="row pictures">
          <% if defined?(@treatment) %>
            <% @treatment.pictures.each.with_index do |picture, index| %>
              <div class="col-lg-2 picture">
                <%= image_tag(picture) %>
                <div class="delete-check">
                  <%= check_box_tag "checkbox-image-#{index}", true, false, class: 'delete-image' %>
                  <%= label 'Eliminar', 'Eliminar' %>
                  <%= form.hidden_field :pictures, multiple: true, value: picture.signed_id %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= label 'Agregar imágenes', 'Agregar imágenes' %>
        <%= form.file_field :pictures, multiple: true, class: 'form-control' %>
      </div>

      <div>
        <%= form.label :description, style: "display: block" %>
        <%= form.text_area :description, class: 'form-control', rows: 15 %>
      </div>

    </div>
  </div>



<% end %>
