<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control', required: true %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit 'Aceptar', class: 'btn btn-fill btn-success animation-on-hover mr-2' %>
    <%= link_to 'Volver', clients_url, class: 'btn btn-simple text-white' %>
  </div>
<% end %>
