<div class="row" id="clients">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="tools float-right">
          <%= link_to "Nuevo cliente", new_client_path, class: 'btn btn-info' %>
        </div>
        <h1 class="card-title">Clientes</h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Age
                </th>
                <th>
                  Address
                </th>
              </tr>
            </thead>
            <tbody>
              <% @clients.each do |client| %>
                <tr>
                  <td>
                    <%= client.name %>
                  </td>
                  <td>
                    <%= client.age %>
                  </td>
                  <td>
                    <%= client.address %>
                  </td>
                  <td class="text-right">
                    <%= link_to_icon '', edit_client_path(client), 'btn btn-sm btn-warning', 'far fa-edit' %>
                    <%= delete_resource_icon client %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= will_paginate @clients, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    </div>
  </div>
</div>
