<div class="row" id="settings">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="tools float-right">
          <%= link_to "Nuevo #{t("activerecord.models.setting.one")}", new_setting_path, class: 'btn btn-info' %>
        </div>
        <h1 class="card-title"><%= t("activerecord.models.setting.multiple") %></h1>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
            <tr>
              <th><%= t("activerecord.attributes.setting.terms_and_cons") %></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <% @settings.each do |setting| %>
                <tr>
                  <td><%= setting.terms_and_cons %></td>
                  <td class="text-right">
                    <%= link_to_icon '', edit_setting_path(setting), 'btn btn-sm btn-warning', 'far fa-edit' %>
                    <%= delete_resource_icon setting %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= will_paginate @settings, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    </div>
  </div>
</div>
