<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="card card-login card-white">
    <div class="card-header">
      <%= image_tag "/assets/card-primary.png" %>
      <h1 class="card-title">Log in</h1>
    </div>
    <div class="card-body">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="tim-icons icon-email-85"></i>
          </div>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="tim-icons icon-lock-circle"></i>
          </div>
        </div>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Contraseña' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="input-group">
          <div class="form-check">
            <label class="form-check-label">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <span class="form-check-sign"></span>
              <%= f.label :remember_me, 'Recordarme' %>
            </label>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-footer">
      <%= f.submit "Log in", class: 'btn btn-primary btn-lg btn-block mb-3' %>
      <%# <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
