<%= form_with(model: treatment_type) do |form| %>
  <%= render 'layouts/notify_form_error', model: :treatment_type, errors: treatment_type.errors %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit 'Aceptar', class: 'btn btn-fill btn-success animation-on-hover mr-2' %>
    <%= link_to 'Volver', treatment_types_url, class: 'btn btn-simple text-white' %>
  </div>
<% end %>
