<!DOCTYPE html>
<html>
  <head>
    <title><%= app_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag "backoffice/backoffice", "data-turbo-track": "reload", media: 'all' %>
    <%= javascript_include_tag "backoffice/backoffice", defer: false %>
  </head>

  <body class="login-page">
    <%= render 'layouts/backoffice/notify' %>
    <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent fixed-top">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle d-inline">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="javascript:void(0)"><%= app_name %></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto">
          </ul>
        </div>
      </div>
    </nav>

    <div class="wrapper wrapper-full-page ">
      <div class="full-page login-page ">
        <div class="content">
          <div class="container">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
              <%= yield %>
            </div>
          </div>
        </div>
        <%= render 'layouts/backoffice/footer' %>
      </div>
    </div>
  </body>
</html>
