<!DOCTYPE html>
<html>
  <head>
    <title><%= app_name %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <%= stylesheet_link_tag "web/web", "data-turbo-track": "reload", media: 'all' %>
    <%= javascript_include_tag "web/web", defer: false %>
  </head>

  <body class="landing-page sidebar-collapse">
    <%= render 'layouts/web/navbar' %>
    <%= yield %>
    <%= render 'layouts/web/footer' %>
  </body>
</html>
